* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}


/* header section */

.header {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 22px 54px;
}

.nav-bar {
    gap: 74px;
    display: flex;
    flex-wrap: wrap;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

.menu {
    color: #000000 !important;
    font-size: 24px;
    font-weight: 500;
}

.search-bar {
    padding-right: 10px;
}

.fa-bar {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

i {
    font-size: 24px;
    padding-right: 20px;
    color: #000000;
}


/* Hero section */

.hero-area {
    height: 316px;
    padding-top: 96px;
    padding-bottom: 96px;
    background-image: url(./img/shop1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero {
    margin-top: 24px;
    padding-left: 56px;
    padding-right: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1246px;
    margin-left: auto;
    margin-right: auto;
}

.hero-content {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.house-logo {
    height: 76px;
    margin-left: 14px;
    margin-right: 14px;
    z-index: 1;
    position: relative;
    width: 100%;
    object-fit: cover;
}

.title {
    color: #000000 !important;
    font-size: 48px;
    font-weight: 500;
}

.menu {
    display: flex;
    gap: 6px;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.home {
    display: flex;
    list-style: none;
    align-items: center;
    word-wrap: break-word;
    gap: 6px;
}

.home1 {
    display: inline-flex;
    align-items: center;
}

.home2 {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 500;
}

.home3 {
    display: inline-flex;
    align-items: center;
}

.home4 {
    height: 20px;
    width: 20px;
}

.home5 {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 300;
}


/* Billing section */

.billing-area {
    padding-top: 52px;
    padding-bottom: 52px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.billing {
    margin-top: 10px;
    width: 100%;
    max-width: 1246px;
    margin-left: auto;
    margin-right: auto;
}

.billing-box {
    gap: 26px;
    display: flex;
    align-items: flex-start;
}

.billing-box1 {
    align-self: center;
    width: 100%;
}

.billing-part1 {
    gap: 36px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px 56px 34px 74px;
}

.bill-title {
    color: #000000!important;
    font-size: 36px;
    font-weight: 600;
}

.name-box {
    margin-right: 4px;
    gap: 30px;
    display: flex;
    align-self: stretch;
}

.name {
    gap: 22px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.bill-text1 {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 500;
}

p {
    margin: 0;
}

.name-text {
    background-color: #ffffff;
    color: #9f9f9f;
    height: 74px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    border: 1px solid #9f9f9f;
}

.company-name {
    gap: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

[type='text'],
input:where(:not([type])),
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select,
button {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
    color: inherit;
}

input {
    background-color: transparent;
    width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.group-selection {
    gap: 16px;
    display: flex;
    align-self: stretch;
    background-image: url(img_arrowdown.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: calc(100% - 30px);
    border: 1px solid #9f9f9f;
    background-color: #ffffff;
    color: #9f9f9f;
    height: 74px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
}

.billing-body2 {
    background-color: #ffffff;
    width: 100%;
    padding: 86px 36px;
}

.billing-part2 {
    gap: 22px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-subtotal {
    gap: 14px;
    display: flex;
    flex-direction: column;
}

.product-subtotal-deatils {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.bill-text2 {
    color: #000000 !important;
    font-size: 24px;
    font-weight: 500;
}

.product-price {
    display: flex;
    justify-content: center;
}

.product-det {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bill-text3 {
    color: #9f9f9f !important;
    font-size: 16px;
    font-weight: 400;
}

.bill-text4 {
    color: #000000 !important;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
}

.bill-text5 {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 300;
}

.subtotal-total {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.subtotal1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.bill-text6 {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 400;
}

.total1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.bill-text7 {
    color: #b88e2f !important;
    font-size: 24px;
    font-weight: 700;
}

.line-10 {
    height: 1px;
    margin-top: 32px;
    background-color: #d9d9d9;
}

.bank-content {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.bank-transfer {
    gap: 15px;
    display: flex;
    align-items: center;
}

.ellipse-1 {
    height: 14px;
    background-color: #000000;
    width: 14px;
    border-radius: 6px;
}

.bill-text8 {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 400;
}

.bank-cash {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.direct-bank {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.bank-radio {
    accent-color: #9f9f9f;
    border: 1px solid #9f9f9f;
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.bill-text8 {
    color: #000000 !important;
    margin-top: 22px;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.bill-text9 {
    font-weight: 600;
}

.btn41 {
    color: #000000;
    border: 1px solid #000000;
    height: 64px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 20px;
    text-align: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: 38px;
    margin-left: 112px;
    margin-right: 104px;
    align-self: stretch;
    text-align: center;
    border-radius: 14px;
}


/* Benefit section */

.benefit-area {
    margin-top: 20px;
}

.benefit {
    background-color: #faf3ea;
    padding: 100px 50px;
}

.feature {
    gap: 54px;
    display: flex;
}

.feature1 {
    gap: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 336px;
    margin-left: auto;
    margin-right: auto;
}

.trophy {
    height: 60px;
    width: 18%;
    object-fit: contain;
}

.feature-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature-title {
    color: #242424!important;
    font-size: 25px;
    font-weight: 600;
}

.feature-para {
    color: #898989 !important;
    font-size: 20px;
    font-weight: 500;
}


/* Footer section */

.footer-area {
    padding-top: 38px;
    padding-bottom: 38px;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #0000002b;
}

.footer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1246px;
    margin-left: auto;
    margin-right: auto;
}

.footer1 {
    gap: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.footer-box1 {
    gap: 50px;
    display: flex;
    width: 24%;
    flex-direction: column;
}

.footer-logo {
    height: 36px;
    width: 84px;
    object-fit: contain;
}

.footer-para {
    color: #9f9f9f !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-box2 {
    gap: 54px;
    align-self: center;
    display: flex;
    width: 6%;
    flex-direction: column;
    align-items: flex-start;
}

.link {
    color: #9f9f9f !important;
    font-size: 16px;
    font-weight: 500;
}

.f-box1 {
    gap: 44px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

.link-para {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 500;
}

.footer-box3 {
    width: 44%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.footer-box31 {
    gap: 54px;
    align-self: center;
    display: flex;
    width: 28%;
    flex-direction: column;
    align-items: flex-start;
}

.footer-box32 {
    gap: 52px;
    display: flex;
    width: 56%;
    flex-direction: column;
    align-items: flex-start;
}

.search {
    gap: 10px;
    display: flex;
    align-self: stretch;
}

.search1 {
    color: #9f9f9f;
    border-bottom: 1px solid #000000;
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    text-decoration-line: underline;
}

.subscribe {
    width: 26%;
    display: flex;
}

.subscribe-para {
    gap: 2px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.subscribe-para1 {
    color: #000000 !important;
    font-size: 14px;
    font-weight: 500;
}

.line {
    height: 1px;
    background-color: #000000;
    align-self: stretch;
    width: 100%;
}

.line1 {
    height: 1px;
    background-color: #d9d9d9;
    align-self: stretch;
    width: 100%;
}

.reserved {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 400;
}